.image-bg {
    /* background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1126,w_2000,x_0,y_181/f_auto,q_auto,w_1100/v1554932288/shape/mentalfloss/12531-istock-637790866.jpg"); */
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    opacity: 0.8;
}

.image-bg h1 {
    color: white;
    padding: 60px;
}